
/*DEMOGRAPHY*/

.demography-container {
  width: 250px;
  height: 250px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url(demography.svg); /* agrega tu imagen SVG aquí */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  margin-top: 10rem;

  touch-action: none;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
  -webkit-overflow-scrolling: auto;
  transform: scale(1); /* escala base */
  transition: transform 0.3s ease-in-out;
  left: 1rem;
}


/* telefonos cedlulares*/
@media (max-width: 844px) and (orientation: portrait) {

.demography-container {
  width: 250px;
  height: 250px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url(demography.svg); /* agrega tu imagen SVG aquí */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  margin-top: 6rem;

  touch-action: none;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
  -webkit-overflow-scrolling: auto;
  transform: scale(0.8); /* escala base */
  transition: transform 0.3s ease-in-out;
   top: 1rem;       /* controla la distancia desde arriba */
  left: -1rem;       /* mueve hacia la izquierda */
  width: 250px;
  height: 250px;

}


  
}


@media (max-width: 844px) and (orientation: landscape) {

.demography-container {
  width: 250px;
  height: 250px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url(demography.svg); /* agrega tu imagen SVG aquí */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  margin-top: 4rem;

  touch-action: none;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
  -webkit-overflow-scrolling: auto;
  transform: scale(0.7); /* escala base */
  transition: transform 0.3s ease-in-out;
   top: 3rem;       /* controla la distancia desde arriba */
  left: -2rem;       /* mueve hacia la izquierda */
  width: 250px;
  height: 250px;
  
}

  
}


/*IPAD*/
.demography-container {
  width: 250px;
  height: 250px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url(demography.svg); /* agrega tu imagen SVG aquí */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  margin-top: 4rem;
  touch-action: none;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
  -webkit-overflow-scrolling: auto;
  transform: scale(0.8); /* escala base */
  transition: transform 0.3s ease-in-out;
   top: 4rem;       /* controla la distancia desde arriba */
  left: -2rem;       /* mueve hacia la izquierda */
  width: 250px;
  height: 250px;
  
  
}

  
@media (min-width: 845px) and (max-width: 1376px) and (orientation: landscape) {
  .demography-container {
    transform: scale(0.9);
    margin-top: 8rem;
  }

.demography-container {
  width: 250px;
  height: 250px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url(demography.svg); /* agrega tu imagen SVG aquí */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  margin-top: 4rem;

  touch-action: none;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
  -webkit-overflow-scrolling: auto;
  transform: scale(0.9); /* escala base */
  transition: transform 0.3s ease-in-out;
   top: 5rem;       /* controla la distancia desde arriba */
  left: -1rem;       /* mueve hacia la izquierda */
  width: 250px;
  height: 250px;

  
}

}





