
/* demografia */

.demography-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  transform: translateY(-20px); /* Mueve hacia arriba 20px */
}


.demography-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  min-width: 120px;
}

.color-box {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  flex-shrink: 0;
}

.label {
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  white-space: nowrap;
}





@media(max-width:844px){
    .demography-container {
display: block;
background-color: transparent;
background-position: relative;
margin-top: 10rem;
gap: 7rem;
width: 100%;
height: auto;
justify-content: center;
right: 4px;
}
}



@media (max-width: 844px) and (orientation: landscape) {

.demography-container {
  display: grid;
  grid-template-columns: repeat(3, auto); /* 3 columnas ajustadas al contenido */
  gap: 0.3rem;                            /* Espacio mínimo entre elementos */
  justify-content: start;                /* Alinea todo a la izquierda */
  padding: 1rem;
 

.demography-item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
  background-color: transparent;

}

.color-box {
  width: 16px;
  height: 16px;
  border-radius: 4px;
}

.label {
  white-space: nowrap;
  font-size: 0.9rem;
  color: rgb(255, 255, 255);
}


  html, body {
    overflow: hidden;
    overscroll-behavior: contain;
    touch-action: manipulation;
  }

}


@media (min-width: 845px) and (max-width: 1376px){
    .demography-container {
  display: grid;
  grid-template-columns: repeat(3, auto); /* 3 columnas ajustadas al contenido */
  gap: 0.5rem;                            /* Espacio mínimo entre elementos */
  justify-content: start;                /* Alinea todo a la izquierda */
  padding: 1rem;
  margin-top: 10rem;
}

.demography-item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
  background-color: transparent;
}

.color-box {
  width: 16px;
  height: 16px;
  border-radius: 4px;
}

.label {
  white-space: nowrap;
  font-size: 0.9rem;
  color: rgb(255, 255, 255);
}


  html, body {
    overflow: hidden;
    overscroll-behavior: contain;
    touch-action: manipulation;
  }

}
}